<form [formGroup]="clientForm" (ngSubmit)="Create()">
  <table class="full-width" cellSpacing="0">
   <tr>    
    <td>
      <mat-form-field class="full-width">
      <mat-label>Nome</mat-label>
      <input id="firstName" matInput formControlName="firstName">
      </mat-form-field>
    </td>
    <td>
      <mat-form-field class="full-width">
        <mat-label>Sobrenome</mat-label>
        <input id="lastName" matInput formControlName="lastName">
      </mat-form-field>
    </td>
    </tr>
  </table>
  <mat-form-field class="full-width">
    <mat-label>Email</mat-label>
    <input type="email" id="email" matInput formControlName="email" placeholder="email@.com">
    @if (clientForm.hasError('email') && !clientForm.hasError('required')){
      <mat-error>Por favor, insira um email válido</mat-error>
    }
    @if (clientForm.hasError('required')) {
      <mat-error>Email é <strong>obrigatório</strong></mat-error>
    }

  </mat-form-field>
  
   <mat-form-field class="full-width">
        <mat-label>Telefone</mat-label>
        <input id="phone" matInput formControlName="phone">
      </mat-form-field>
  <button (click)="Create()">Adicionar</button>
  
</form>
  